<!-- Header -->
<div id="wrapper">
    <div id="menu-wrapper">
        <div id="menu" class="container">
            <ul>
                <li><a href="index">홈</a></li>
                <li><a href="#">입후보 신청</a></li>
                <li><a href="#">공약 게시판</a></li>
                <li><a href="#">공약 이행률</a></li>
                <li><a href="#">공청회</a></li>
                <li><a href="#">토론 게시판</a></li>
                <li><a href="#">투표 교육</a></li>
            </ul>
        </div>
    </div>
</div>
